
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.row td {
  padding-top: 14px;
  padding-bottom: 10px;
}

.table.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #005;
  line-height: 1.4;
}

.table.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #36304a;
}

.table.ver1 .row:hover {
  background-color: #f2f2f2;
}
